{% extends 'base.html.twig' %} {% block title %}Adresses{% endblock %} {% block body %}
<h1>Adresses</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ adress.id }}</td>
        </tr>
        <tr>
            <th>Pays</th>
            <td>{{ adress.pays }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ adress.ville }}</td>
        </tr>
        <tr>
            <th>Rue</th>
            <td>{{ adress.rue }}</td>
        </tr>
        <tr>
            <th>Code_postal</th>
            <td>{{ adress.codePostal }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ adress.titre }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('adresses_index') }}">back to list</a>

<a href="{{ path('adresses_edit', {'id': adress.id}) }}">edit</a> {{ include('admin/adresses/_delete_form.html.twig') }} {% endblock %}